### Objective:
The chapter assumes working for a company that needs to implement a machine learning model to ingest California housing data
from the 1990's, learn and make accurate median housing prices for new and future instances, instances being district units defined by the U.S. Census Data. Once this system is ready to evaluate new data and predict new median housing prices, it will be part of a larger pipeline system, in which it's output will be used to decide if it is worth investing in new districts and regions based on the predicted median housing prices.

### Exploring the data

In [3]:
import pandas as pd
import numpy as np

In [4]:
pwd

'C:\\Users\\Erik\\Documents\\Projects\\Tutorials\\repos\\machine_learning\\ch02_end_to_end_project\\jupyter_notebooks'

In [7]:
housing_csv_file_path = r'../data/housing.csv'
housing_df = pd.read_csv(housing_csv_file_path)

In [8]:
housing_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

From the first few lines of the dataframe, it can be seen there is already an attribute included for the median house price per district unit area, which are graphically specified by the longitude and latitude. These data attributes coupled with the objective will help determine the category, algorithm and performance measure to be used in training the model.
- The data here is already labled with median house values, meaning it will be a supervised task, we want to train the algorithm with historical data that already has a target value and predictors (features), which are the set or subset of columns in the dataframe that influence the target value. Here it might be the districts location relative to the ocean, number of rooms, etc.
- Because the objective requires predicting new values, it is also a regression task. And is likely a multivariate regression tasks i.e. the target value depends on multiple features not just one.